<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div id="topnav">
        <a class="homebut" href="home.html">Home</a>
        <a href="AboutUs.html">About Us</a>
        <a href="Memory.html">Memory with Clicker</a>
        <a href="Something.html">Something To Say</a>
    </div>
    <div id="WORK">
        <h1> ClickAI COFFEE SHOP !!!</h1>
        <h2 > The Work Space For All AI Engineers</h2>
    </div>
    
    <div id="Door">
        <p>
            "WHEN ONE DOOR CLOSE, ANOTHER OPENS"
        </p>    
        <img src="img\Door.jpg" >
    </div>
    <div class="entry-content">
        <h2>
            "Khi một cách cửa đóng lại sẽ có một cánh cửa khác mở ra "
        </h2>
        <p>
            Có thể các bạn không tin về điều này !!!, nhưng mà chúng tôi thực sự đã trở lại Click is come back, thời gian qua cũng là một thời gian không phải là quá ngắn đủ để minh chứng cho lời hứa trở lại của chúng tôi, vậy nếu bạn là người đến đây lần đầu thì để tôi kể cho bạn nghe nhé ^^.
        </p>
        <img src="img/click.jpg" >
        <p>
            Click Coffee được khai trương vào ngày 9/5/2015,tại địa chỉ số 02 đường Huỳnh Thúc Kháng, ngay đoạn ngã ba Huỳnh Thúc Kháng và Lê Đình dương, sau ba năm hoạt động thì vào do một số lý do nên vào ngày 12/2018 quán đã chính thức ngưng hoạt động, sau ba năm hoạt động click coffee & hostel đã để lại trong lòng các bạn khách thân quen, các bạn nhân viên nhiệt tình các khách du lịch nước ngoài có dịp nghỉ chân tại hostel của quán nhiều kỉ niệm tốt đẹp, bằng chứng là đã có rất nhiều bạn nhắn tin vào trang facebook của quán nhằm hỏi han về tình hình khi nào thì quán mở cửa trở lại.
        </p>
        <p>
            Vậy thì Click năm 2025 sẽ khác biệt như thế nào so với 10 năm trước ?, các bạn có thắc mắc về cái tên mới của quán ClickAI không nào ? 
        </p>
    </div>
    <div class="Aboutme">
        <p>
            About me 
        </p> 
        <img src="img/picture.jpg" >
        <h3 style="font-size: medium;font-family:'Times New Roman', Times, serif;"> OWNER OF CLICKAI COFFEE</h3>
        <p style="text-align: justify;">
            Hi. Mình là Khoa. Chào mừng bạn đến với trang blog của ClickAI Coffee. Đây là nơi mình chia sẽ về những câu chuyện xung ClickAI Coffee, các Clicker và cả những câu chuyện về mình nữa,
            mình mong các bạn có được giây phút thư giản và cả những kỉ niệm khó quên cùng với bọn mình nhé.
        </p>
    </div> 
    
</body>
</html>