{% extends "layout.html" %}
{% block title %}
    Personal Blog
{% endblock %}
{% block body %}

    <h1>{{title}}</h1>
    <h2>-----------------{{author}}-------------------</h2>
    <h2>{{content}}</h2>
    <h2>-----------------Comment : {{comments|length}}-----------------</h2>
    <ul>
        {% if message %}
        {% for comment in comments %}
            <li>{{ comment.user}} ( {{ comment.date}} ) :{{ comment.content }}</li>
        {% endfor %}  
        {% endif %}  
    </ul>
    <h3>Write your comment</h3>
    <form action="{{ url_for('blogRender',title=title,alert=True) }}" method="post">
        <div class="form-group">
            <input class="form-control" name="content" placeholder="Your review" >
        </div>
        <input type="hidden" value={{title}} name="title">
        <input type="hidden" value={{content}} name="content">
        <input type="hidden" value={{author}} name="author">
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>

        {% if get_flashed_messages()%}
        <div class="aleart">
            <script>
                function showAlert() { alert('Bạn đã đánh giá rồi!!'); }
            </script>
                {% for message in get_flashed_messages() %}
                    <div class="alert-error">Error: {{ message }}</div>
                {% endfor %}
             <script>showAlert();</script>
        </div>
        {% endif %}
    </form>
    
{% endblock %}