<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: white;
            margin:0;
        }
        .seigo {
            position:absolute;
            width: 500px;
            height: 500px;
            left: 320px;
            top: 0px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <img src="img/memory1.jpg" width="300px" height="300px" style="padding: 10px;">

    <p class="seigo" style="text-align: justify;"> 
        Một trong những vị khách đáng nhớ nhất của Click là bé Seigo và ba mẹ, không chỉ đáng mến và thân thiện mà Click còn bị thu hút bởi sự dễ thương quá đáng của Seigo 😉
        Cu cậu rất năng động, chạy nhảy liên tục, lại còn chơi trò siêu nhân với ad cơ đấy =)) Ấy vậy mà lúc đùa giỡn vô tình va vào cạnh bàn (ad biết là đau lắm đấy, ad còn hoảng mà), bé đứng dậy, phủi phủi người rồi lại chơi đùa tiếp 😂😂😂😂😂không hề mè nheo hay khóc nhè làm nũng 🤗🤗🤗🤗🤗
        Mình rất khâm phục cách dạy con và tinh thần của người Nhật Bản, sau này mình cũng sẽ như vậy ! 🤔🤔🤔🤔🤔
    </p>
    
</body>
</html>